*{box-sizing: border-box;}
[class^='flex']{display: flex;}
[class^='flex-column']{flex-direction: column;}


[class^='flex-19']  >:nth-child(1){ flex: 0 0 10%;}
[class^='flex-19']  >:nth-child(2){ flex: 0 1 90%;}
[class^='flex-1585']>:nth-child(1){ flex: 0 0 15%;}
[class^='flex-1585']>:nth-child(2){ flex: 0 1 85%;}
[class^='flex-28']  >:nth-child(1){ flex: 0 0 20%;}
[class^='flex-28']  >:nth-child(2){ flex: 0 1 80%;}
[class^='flex-2575']>:nth-child(1){ flex: 0 0 25%;}
[class^='flex-2575']>:nth-child(2){ flex: 0 1 75%;}
[class^='flex-37']  >:nth-child(1){ flex: 0 0 30%;}
[class^='flex-37']  >:nth-child(2){ flex: 0 1 70%;}


[class^='flex-91']  >:nth-child(1){ flex: 0 0 90%;}
[class^='flex-91']  >:nth-child(2){ flex: 0 1 10%;}


[class^='flex-']>div:nth-child(1)>ul:nth-child(1){ white-space: nowrap;}


