details{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;

    border-radius: 10px;
    padding: 10px;

}
details>summary{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
}
details>summary:hover{
    background-color: rgba(255, 255, 255, 0.1);
    filter: invert(1) drop-shadow(0 0 5px white);
    font-weight: bold;
}


details .r{ color:crimson; }
    details .o{ color:orangered; }
details .b{ color:cornflowerblue }
details .g{color:mediumseagreen;}
details  a{color:white; text-decoration: none;}

details .purple{color: mediumorchid;}


details .c9-1{color:crimson;}
details .c9-2{color:orangered;}
details .c9-3{color:orange;}
details .c9-4{color:mediumseagreen;}
details .c9-5{color:skyblue;}
details .c9-6{color:cornflowerblue;}
details .c9-7{color:mediumorchid;}
details .c9-8{color:magenta;}
details .c9-9{color:deeppink;}



details .focus{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
}
details .ul-focus{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
}



details h6{ margin-bottom: 0;}


.detail-word{font-size: 14px;}

