details{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;

    border-radius: 10px;
    padding: 10px;


    
}
details>summary{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;


    white-space: nowrap;
}
details>summary:hover{
    background-color: rgba(255, 255, 255, 0.1);
    filter: invert(1) drop-shadow(0 0 5px white);
    font-weight: bold;
}





details .focus{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 10px;
}
details .ul-focus{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 10px 10px 40px;
    border-radius: 10px;
}



details h6{ margin-bottom: 0;}


.details-word   {font-size: 14px;}
.details-word-12{font-size: 12px;}

