.inline-top{
    display: inline-block; 
    margin-right: 40px; 
    vertical-align: top;
}


.inline-block{display: inline-block;}



[class^='div-level']{display: inline-flex;}


.div-13{
    display: inline-flex; 
    padding: 10px;
}
.div-13>ul{
    display: inline-grid; 
    list-style-type: ''; 
    padding: 0;

    height: min-content;
}