.ul-fix{
    position: relative;
}
.ul-fix nav{
    position: absolute;
    top: -16px;
    left: 0;

    display: flex;
}


.ul-flex,
.flex-gap
{
    display: inline-flex; 
    column-gap: 40px;

    flex-wrap: wrap;
    row-gap: 40px;
}

.ul-flex-between{
    display: flex; 
    column-gap: 40px;
    justify-content: space-between;
}
.ul-flex-inline{
    display: inline-flex; 
    column-gap: 40px;
}











.disc-toggle,
.expand-o-toggle,
.expand-toggle,
.diagonal-toggle-ul,
.diagonal-toggle,
.horizontal-toggle-parent,
.horizontal-toggle-ul,
.hor-toggle-ul,
.horizontal-toggle{
    color: black;
    height: min-content;
    padding: 3px;
    border-radius: 3px;

    cursor: pointer;

    display: inline-block;

    background-color: #aaa;
    border: none;

    width: 16px;
    height: 16px;
    font-size: 10px;

}

.expand-o-toggle:hover,
.expand-toggle:hover,
.diagonal-toggle:hover,
.horizontal-toggle-parent:hover,
.horizontal-toggle-ul:hover,
.horizontal-toggle:hover{
    filter: invert(1);
}


.expand-o,
.expand{
    display: none;
}









[class*='disc-block'],
.block{ display: block; }




.ul-wrap{
    display: inline-grid; 
    white-space: nowrap;
}




.ul-margin-0   {margin: 0;}
.ul-margin-0 ul{margin: 0;}
