

details .r{ color:crimson; }
details .o{ color:orangered; }
details .g{color:mediumseagreen;}
details .b{ color:cornflowerblue }
details  a{color:white; text-decoration: none;}

details .purple{color: mediumorchid;}


details .c9-1{color:crimson;}
details .c9-2{color:orangered;}
details .c9-3{color:orange;}
details .c9-4{color:mediumseagreen;}
details .c9-5{color:skyblue;}
details .c9-6{color:cornflowerblue;}
details .c9-7{color:mediumorchid;}
details .c9-8{color:magenta;}
details .c9-9{color:deeppink;}



details u{text-decoration-color: orange;}
details .u-r{text-decoration-color: red;}

