.issue-provision{
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 10px;
}

details .issue-provision{
    background-color: rgba(0, 0, 0, 0);
}


/* .issue-provision h6{ filter: drop-shadow(0 0 5px white); } */
/* .issue-provision b { filter: drop-shadow(0 0 10px white); color: red; } */

.issue-provision .r{ color:crimson; }
.issue-provision .b{ color:cornflowerblue }
.issue-provision .g{color:mediumseagreen;}

.template,
.provision-template{
    display: grid; 
    grid-template-columns: auto 1fr; 
    column-gap: 40px;
}
.template>ul:nth-child(1),
/* .template>div>ul:nth-child(1), */
.template>div:nth-child(1),
.provision-template>ul:nth-child(2n-1),
.provision-template>div>ul:nth-child(2n-1)
{
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    white-space: nowrap;
}


.provision-template>ul:nth-child(1) b{
    filter: drop-shadow(0 0 0 black);
}


.template ul{
    flex-wrap: nowrap;
}